<div class="d-flex flex-wrap justify-center pt-3" style="max-height:350px; overflow-y:auto">
  @if (this.IsEditMode)
  {
    @foreach (var bulletinItem in this.Bulletin)
    {
      var vote = bulletinItem.Vote;
      if (vote.IsUnset)
        continue;

      <MudPaper Class="d-flex mr-4 mb-4" Style="min-width: 110px;">
        <MudIcon Style="position: relative; left:-8px; top: -8px; cursor: pointer;"
             Size="@Size.Small"
             Icon="@Icons.Material.Filled.Cancel"
             Color="Color.Secondary"
             @onclick="@(() => this.HandleRemoveVoteClick(vote))">
        </MudIcon>
        <div class="flex-grow-1 flex-shrink-0 pa-2" style="width: 100%" data-value="@vote.Value">
          <input maxlength="4"
             class="mud-typography mud-typography-h4 mud-inherit-text"
             style="border: none; outline: none; text-align: center;"
             size="2"
             value="@vote.Value"
             @onchange="@((args) => this.HandleVoteValueChange(vote, args))"
             type="text" />
        </div>
      </MudPaper>
    }

    <div class="mr-4 mb-4 align-self-center">
      <MudIconButton OnClick="this.HandleAddVoteClick"
                   Icon="@Icons.Material.Filled.Add"
                   Variant="Variant.Filled"
                   Color="Color.Tertiary">
      </MudIconButton>
    </div>
  }
  else
  {
    @foreach (var bulletinItem in this.Bulletin)
    {
      var vote = bulletinItem.Vote;
      if (vote.IsUnset)
        continue;

      var voteChecked = !bulletinItem.IsDisabled;
      <MudPaper Class="d-flex mr-4 mb-4" Style="min-width: 110px; cursor: pointer">
        <MudCheckBox T="bool" Checked="voteChecked"
                 Style="position:relative;left:-8px;height:30px;width:30px"
                 CheckedChanged="@((args) => this.HandleCheckVote(vote))"
                 Color="Color.Primary">
        </MudCheckBox>
        <MudText @onclick="@((args) => this.HandleCheckVote(vote))"
             Typo="Typo.h4"
             Align="Align.Center"
             Class="flex-grow-1 flex-shrink-0 pa-2"
             Style="cursor:inherit">
          @vote.Value
        </MudText>
      </MudPaper>
    }
  }
</div>