<MudDialog Class="mud-dialog-top-center">
  <DialogContent>
    @if (this.editContext != null)
    {
      <EditForm EditContext="@this.editContext" style="display: flex; flex-direction: column; max-height: 65vh;">
        <DataAnnotationsValidator />
        <div class="mb-3">
          <MudTextField Label="@UIResources.EditSessionDialogNameLabel" @bind-Value="@this.EditArgs.Name" For="@(() => this.EditArgs.Name)" Immediate="true" />
        </div>
        <div class="mb-3 d-flex flex-wrap">
          <MudSwitch @bind-Checked="@this.EditArgs.AutoStop" Label="@UIResources.EditSessionDialogAutoStopLabel" Color="Color.Primary" title="@UIResources.EditSessionDialogAutoStopHint" />
          <MudSpacer />
          <MudSwitch @bind-Checked="@this.bulletinEditorEditModeOn" Label="@UIResources.BulletinEditMode" Color="Color.Secondary" title="@UIResources.BulletinEditMode" />
        </div>
        <BulletinEditor Bulletin="this.EditArgs.Bulletin" IsEditMode="this.bulletinEditorEditModeOn" />
      </EditForm>
    }
  </DialogContent>
  <DialogActions>
    <MudButton Color="Color.Primary"
               Variant="Variant.Filled"
               Disabled="@(this.formInvalid || this.editContext == null)"
               @onclick="@(async () => await this.ConfirmAsync())">
      @UIResources.SaveButton
    </MudButton>
    <MudButton Color="Color.Default"
               Variant="Variant.Filled"
               OnClick="this.Cancel">
      @UIResources.CancelButton
    </MudButton>
  </DialogActions>
</MudDialog>