<div class="modal fade" id="@this.Id" tabindex="-1" aria-labelledby="sessionOptionsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sessionOptionsModalLabel">@this.Title</h5>
        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
      </div>
      @if (this.editContext != null)
      {
        <EditForm EditContext="@this.editContext">
          <div class="modal-body">
            <DataAnnotationsValidator />
            <div class="mb-3">
              <label for="session-name" class="col-form-label">Имя:</label>
              <InputTextOnInput id="session-name" @bind-Value="@this.EditArgs.Name" class="form-control" />
              <ValidationMessage For="@(() => this.EditArgs.Name)" />
            </div>
            <div class="mb-3 form-check form-switch">
              <InputCheckbox id="session-autostop" @bind-Value="@this.EditArgs.AutoStop" class="form-check-input" />
              <label class="form-check-label" for="session-autostop">Автостоп сессии</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit"
                    class="btn btn-primary"
                    disabled="@this.formInvalid"
                    data-bs-dismiss="@(!this.formInvalid ? "modal" : string.Empty)"
                    @onclick="@(async () => await this.ConfirmAsync())">
              Подтвердить
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Отмена
            </button>
          </div>
        </EditForm>
      }
    </div>
  </div>
</div>