<MudDialog Class="mud-dialog-top-center">
  <TitleContent>
    <h5>@this.Title</h5>
  </TitleContent>

  <DialogContent>
    @if (this.editContext != null)
    {
      <EditForm EditContext="@this.editContext">
        <DataAnnotationsValidator />
        <div class="mb-3">
          <MudTextField Label="Имя" @bind-Value="@this.EditArgs.Name" For="@(() => this.EditArgs.Name)" Immediate="true" />
        </div>
        <div class="mb-3">
          @{ var autostopTitle = $"Автоматически останавливать сессию и показывать голоса,{Environment.NewLine}когда все участники проголосовали"; }
          <MudSwitch @bind-Checked="@this.EditArgs.AutoStop" Label="Автостоп сессии" Color="Color.Primary" title="@autostopTitle" />
        </div>
        <div class="d-flex flex-wrap justify-content-center">
          @foreach (var bulletinItem in this.EditArgs.Bulletin)
          {
            var vote = bulletinItem.Vote;
            if (vote.IsUnset)
              continue;

            var voteChecked = !bulletinItem.IsDisabled;
            <MudPaper Class="d-flex mr-4 mb-4" Style="min-width: 110px; cursor: pointer">
              <MudCheckBox T="bool" Checked="voteChecked"
                           Style="position:relative;left:-8px;height:30px;width:30px"
                           CheckedChanged="@((args) => this.HandleCheckVote(vote))"
                           Color="Color.Primary">
              </MudCheckBox>
              <label class="flex-fill h1 text-center"
                     for="@vote.Value"
                     style="cursor:inherit"
                     @onclick="@((args) => this.HandleCheckVote(vote))">
                @vote.Value
              </label>
            </MudPaper>
          }
        </div>
      </EditForm>
    }
  </DialogContent>
  <DialogActions>
    <MudButton Color="Color.Primary"
               Variant="Variant.Filled"
               Disabled="@(this.formInvalid || this.editContext == null)"
               @onclick="@(async () => await this.ConfirmAsync())">
      Сохранить
    </MudButton>
    <MudButton Color="Color.Default"
               Variant="Variant.Filled"
               OnClick="this.Cancel">
      Отменить
    </MudButton>
  </DialogActions>
</MudDialog>