@using Grains.Interfaces.Models
@using Yotalab.PlanningPoker.BlazorServerSide.Services.DTO

@inject ParticipantsService Service

<ul class="list-group mb-3">
  @foreach (var participant in this.PaticipantVotes.OrderByDescending(p => p.Id == this.ParticipantId))
  {
    <li class="list-group-item d-flex justify-content-between lh-sm@(participant.Id == this.ParticipantId ? " list-group-item-secondary" : string.Empty)">
      <div class="d-flex align-items-center">
        <div class="me-3">
          <img src="@(string.IsNullOrWhiteSpace(participant.AvatarUrl) ? DefaultAvatar : participant.AvatarUrl)" alt="Avatar" class="avatar">
        </div>
        <div>
          <div class="d-flex align-items-center">
            <h6 class="my-0 me-2">@(string.IsNullOrEmpty(participant.Name) ? "Безымянный" : participant.Name)</h6>
            @if (participant.Id == this.ModeratorId)
            {
              <img src="img/crown_icon.svg" alt="Host" />
            }
            @if (participant.Id == this.ParticipantId && participant.Id != this.ModeratorId)
            {
              <img class="btn p-0"
                   src="img/door_icon.svg"
                   alt="Leave"
                   @onclick="@(async () => await this.Service.LeaveAsync(this.SessionId, this.ParticipantId))" />
            }
            @if (participant.Id != this.ParticipantId && this.ParticipantId == this.ModeratorId)
            {
              <img class="btn p-0"
                   src="img/kick_icon.svg"
                   alt="Kick"
                   @onclick="@(async () => await this.Service.KickAsync(this.SessionId, participant.Id))" />
            }
          </div>
          @if (participant.Id == this.ParticipantId)
          {
            <ParticipantChangeNameLink ParticipantInfo="@participant.ToInfo()"
                                       Title="Изменить имя"
                                       ClassNames="btn-sm small">
              <TitleTemplate>
                <small>@context</small>
              </TitleTemplate>
            </ParticipantChangeNameLink>
          }
        </div>
      </div>
      @if (participant.Id == this.ParticipantId || this.SessionState == SessionProcessingState.Stopped || this.SessionState == SessionProcessingState.Finished)
      {
        <h3 class="text-muted"><strong>@participant.Vote.Value</strong></h3>
      }
      else
      {
        <h3>@(!Vote.Unset.Equals(participant.Vote) ? "👌" : string.Empty)</h3>
      }
    </li>
  }
</ul>

@code {
  [Parameter]
  public IEnumerable<ParticipantInfoDTO> PaticipantVotes { get; set; }

  [Parameter]
  public Guid ParticipantId { get; set; }

  [Parameter]
  public Guid ModeratorId { get; set; }

  [Parameter]
  public Guid SessionId { get; set; }

  [Parameter]
  public SessionProcessingState SessionState { get; set; }

  private const string DefaultAvatar = "img/default_avatar.png";
}
