<div style="margin-top:15%">
  <MudText Align="Align.Center" Class="mb-16">
    <Logotype />
  </MudText>

  <MudText Align="Align.Center">
    <MudText Typo="Typo.h4" GutterBottom="true">@UIResources.WellcomeTitle</MudText>
    <MudText Typo="Typo.body1" Class="grey-text text-darken-1">@UIResources.WellcomeSubtitle</MudText>
    <p class="mt-4">
      <MudButton Href="@RegisterUrlBase" Color="Color.Primary" Variant="Variant.Filled" Class="mr-2">
        @IdentityUIResources.SignUpButton
      </MudButton>
      <MudButton Href="@LoginUrlBase" Color="Color.Default" Variant="Variant.Filled">
        @IdentityUIResources.SignInButton
      </MudButton>
    </p>
  </MudText>
</div>

@code {
  @inject NavigationManager Navigation

  private const string LoginUrlBase = "identity/login";
  private const string RegisterUrlBase = "identity/register";

  protected override void OnParametersSet()
  {
    base.OnParametersSet();
    var relativePath = this.Navigation.ToBaseRelativePath(this.Navigation.Uri);
    if (!string.IsNullOrWhiteSpace(relativePath))
    {
      this.Navigation.NavigateTo($"{LoginUrlBase}?returnUrl=/{relativePath}");
    }
  }
}