@page "/identity/forgotPassword"
@layout IdentityLayout

<MudCard Class="identity-card">
  <MudCardContent>
    <MudText Align="Align.Center" Class="mb-10" Typo="Typo.h4">
      <Logotype />
    </MudText>
    @if (this.showSuccessful)
    {
      <MudText Typo="Typo.h6" Class="mb-3">
        @IdentityUIResources.PasswordRecoveryTitle
      </MudText>
      <MudAlert Severity="Severity.Success">
        @string.Format(IdentityUIResources.PasswordRecoverySentDetails, this.inputModel.Email)
      </MudAlert>
    }
    else
    {
      <MudText Typo="Typo.h6" Class="mb-3">
        @IdentityUIResources.PasswordRecoveryTitle
      </MudText>
      <MudFocusTrap>
        <EditForm class="identity-card--form" Model="this.inputModel" OnValidSubmit="this.ValidSubmit">
          <DataAnnotationsValidator />
          <MudTextField @bind-Value="this.inputModel.Email"
                        Label="@DataAnnotationResources.EmailLabel"
                        For="@(() => this.inputModel.Email)"
                        InputType="InputType.Email"
                        Required="true" />
          <div class="d-flex mt-3">
            <MudSpacer />
            <MudButton ButtonType="ButtonType.Submit"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       Class="ml-auto align-self-center">
              @IdentityUIResources.ResetPasswordButton
            </MudButton>
          </div>
        </EditForm>
      </MudFocusTrap>
    }
  </MudCardContent>
</MudCard>
