@page "/identity/resetPassword"
@layout IdentityLayout

<MudCard Class="identity-card">
  <MudCardContent>
    <MudText Align="Align.Center" Class="mb-10" Typo="Typo.h4">
      <Logotype />
    </MudText>
    <MudText Typo="Typo.h6" Class="mb-3">
      @IdentityUIResources.ResetPasswordTitle
    </MudText>
    @if (this.showResetSuccessful)
    {
      <MudAlert Severity="Severity.Success">@IdentityUIResources.ResetPasswordSuccess</MudAlert>
      <div class="d-flex mt-3">
        <MudButton Href="identity/login" Class="ml-auto align-self-center" Color="Color.Primary" Variant="Variant.Filled">
          @IdentityUIResources.SignInButton
        </MudButton>
      </div>
    }
    else
    {
      <MudFocusTrap>
        <form action="api/identity/account/resetPassword" method="post" autocomplete="off" target="submit_handler" hidden>
          <input @bind-value="this.inputModel.Code" name="InputModel.Code" type="text" autocomplete="off" hidden />
          <input @bind-value="this.inputModel.Email" name="InputModel.Email" type="email" autocomplete="off" hidden />
          <input @bind-value="this.inputModel.Password" name="InputModel.Password" type="password" autocomplete="off" hidden />
          <input @bind-value="this.inputModel.ConfirmPassword" name="InputModel.ConfirmPassword" type="password" autocomplete="off" hidden />
          <button @ref="this.submitButton" type="submit" hidden />
        </form>
        <iframe @ref="this.submitHandlerFrame" name="submit_handler" @onload="this.OnSubmitHandler" @onerror="this.OnErrorSubmitHandler" hidden></iframe>
        <EditForm class="identity-card--form" EditContext="this.editContext" OnValidSubmit="this.ValidSubmit" OnInvalidSubmit="this.InvalidSubmit">
          <DataAnnotationsValidator />
          <MudTextField @bind-Value="this.inputModel.Email"
                        Label="@DataAnnotationResources.EmailLabel"
                        For="@(() => this.inputModel.Email)"
                        InputType="InputType.Email"
                        Required="true" />
          <MudTextField @bind-Value="this.inputModel.Password"
                        Label="@DataAnnotationResources.NewPasswordLabel"
                        For="@(() => this.inputModel.Password)"
                        InputType="InputType.Password"
                        Required="true" />
          <MudTextField @bind-Value="this.inputModel.ConfirmPassword"
                        Label="@DataAnnotationResources.ConfirmPasswordLabel"
                        For="@(() => this.inputModel.ConfirmPassword)"
                        InputType="InputType.Password"
                        Required="true" />
          <div class="d-flex mt-3">
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto align-self-center">
              @IdentityUIResources.ResetPasswordButton
            </MudButton>
          </div>
        </EditForm>
      </MudFocusTrap>
    }
    @if (this.errors?.Any() == true)
    {
      <div class="mb-2">
        @foreach (var err in this.errors)
        {
          <MudAlert Severity="Severity.Error" Class="identity-card--form-validation">@err</MudAlert>
        }
      </div>
    }
  </MudCardContent>
</MudCard>
