@page
@model LoginModel

@{
  ViewData["Title"] = "Вход";
}

<form method="post">
  <div class="mb-4 text-center">
    <component type="@typeof(Yotalab.PlanningPoker.BlazorServerSide.Shared.Logotype)" render-mode="ServerPrerendered" />
  </div>
  <h1 class="h3 mb-3 fw-normal">Входите пожалуйста</h1>
  @if (this.Model.ModelState.ErrorCount > 0)
  {
    <div class="alert alert-danger">
      <div asp-validation-summary="All" class="text-danger"></div>
    </div>
  }
  <span asp-validation-for="Input.Email" class="text-danger"></span>
  <label asp-for="Input.Email" class="visually-hidden"></label>
  <input asp-for="Input.Email" class="form-control signin" placeholder="@this.Html.DisplayNameFor(model => model.Input.Email)" required="" autofocus="">

  <span asp-validation-for="Input.Password" class="text-danger"></span>
  <label asp-for="Input.Password" class="visually-hidden"></label>
  <input asp-for="Input.Password" class="form-control" placeholder="@this.Html.DisplayNameFor(model => model.Input.Password)" required="">
  <div class="checkbox mb-3 text-start">
    <label>
      <input type="checkbox" value="remember-me"> @this.Html.DisplayNameFor(model => model.Input.RememberMe)
    </label>
  </div>
  <button class="w-100 btn btn-primary mb-3" type="submit">Войти</button>
</form>

@if (this.Model.ExternalLogins != null)
{
  <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal d-flex 
        around">
    @foreach (var provider in Model.ExternalLogins)
    {
      <button type="submit" class="btn btn-light d-flex align-center" name="provider" value="@provider.Name" title="Войти с аккаунтом @provider.DisplayName">
        <img class="me-2" src="img/@(provider.Name.ToLower()).svg" alt="@provider.Name"><span>@provider.DisplayName</span>
      </button>
    }
  </form>
}

<div class="form-group mt-3">
  <p>
    <a class="me-3" asp-page="./ForgotPassword">Забыли пароль?</a>
    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
  </p>
</div>

<p class="mt-5 mb-3 text-muted">© Yotalab 2021</p>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
