@page
@model ResetPasswordModel
@{
  ViewData["Title"] = "Сброс пароля";
}

<form method="post" autocomplete="off">
  <div class="mb-4 text-center">
    <component type="@typeof(Yotalab.PlanningPoker.BlazorServerSide.Shared.Logotype)" render-mode="ServerPrerendered" />
  </div>
  <h4>@ViewData["Title"]</h4>
  @if (this.Model.ModelState.ErrorCount > 0)
  {
    <div class="alert alert-danger">
      <div asp-validation-summary="All" class="text-danger"></div>
    </div>
  }
  <input asp-for="Input.Code" type="hidden" />
  <span asp-validation-for="Input.Email" class="text-danger"></span>
  <label asp-for="Input.Email" class="visually-hidden"></label>
  <input asp-for="Input.Email" class="form-control" placeholder="@this.Html.DisplayNameFor(model => model.Input.Email)" autocomplete="off" />

  <span asp-validation-for="Input.Password" class="text-danger"></span>
  <label asp-for="Input.Password" class="visually-hidden"></label>
  <input asp-for="Input.Password" class="form-control" placeholder="@this.Html.DisplayNameFor(model => model.Input.Email)" autocomplete="off" />

  <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
  <label asp-for="Input.ConfirmPassword" class="visually-hidden"></label>
  <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@this.Html.DisplayNameFor(model => model.Input.Email)" autocomplete="off" />

  <button type="submit" class="w-100 btn btn-primary">Сбросить</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
