@page "/sessions/{sessionId:guid}"
@using Grains.Interfaces.Models

@inherits AuthorizedOwningComponentBase<SessionService>


@if (this.session != null)
{
  @if (this.userNotJoinedToSession || !this.session.IsInitialized)
  {
    <JoinPrompt Session="this.session"
                ParticipantId="this.ParticipantId" />
  }
  else
  {
    <div class="d-flex flex-row justify-center align-center mb-2">
      <div style="min-width: 0;">
        <MudText Class="mb-0 mx-2 d-none d-sm-inline" Typo="Typo.h4" Align="Align.Center">@this.session.Name</MudText>
        <MudText Class="mb-0 mx-2 d-sm-none" Typo="Typo.h6" Align="Align.Center" Style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
          @this.session.Name
        </MudText>
      </div>
      @if (this.session.ModeratorIds.Contains(this.ParticipantId))
      {
        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Warning" OnClick="this.OnShowEditModal" aria-label="edit"></MudIconButton>
      }
    </div>
    <CascadingValue Value="@this.session">
      <MudGrid Class="flex-column flex-nowrap flex-md-row" Spacing="3">
        <MudItem md="5" lg="4" Class="d-md-none">
          <SessionStatusPrompt ParticipantId="this.ParticipantId" />
        </MudItem>
        <MudItem md="7" lg="8">
          @if (this.session.ProcessingState != SessionProcessingState.Finished)
          {
            if (this.User != null)
            {
              <PokerCardDeck SessionId="this.SessionId"
                             Bulletin="this.bulletin"
                             ParticipantId="this.ParticipantId"
                             ParticipantVote="this.participantVote"
                             CanVote="this.CanVote()"
                             CanNotVoteMessage="@this.CanNotVoteMessage()"/>
            }
          }
          else
          {
            <ParticipantsVotesResult PaticipantVotes="this.participantVotes.Where(v => !this.session.ObserverIds.Contains(v.Id))" />
          }
        </MudItem>
        <MudItem md="5" lg="4">
          <div class="d-none d-md-block">
            <SessionStatusPrompt ParticipantId="this.ParticipantId" />
          </div>
          <ParticipantsVotesList PaticipantVotes="this.participantVotes"
                                 ParticipantId="this.ParticipantId" />
        </MudItem>
      </MudGrid>
    </CascadingValue>
  }
}
else
{
  <div class="d-flex justify-center">
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
  </div>
}