@page "/sessions/{sessionId:guid}"
@using Grains.Interfaces.Models
@inherits AuthorizedOwningComponentBase<SessionService>
@if (this.session != null)
{
  <div class="d-flex flex-row justify-content-center align-items-center mb-2">
    <h1 class="text-center m-0">@this.session.Name</h1>
    @if (this.session.ModeratorIds.Contains(this.ParticipantId))
    {
      <img class="btn h-100" src="img/edit_icon.svg" data-bs-toggle="modal" data-bs-target="#sessionOptionsModal" />
    }
  </div>
  <CascadingValue Value="@this.session">

    @if (this.userNotJoinedToSession)
    {
      <JoinPrompt Title="@($"Вы не являетесь участником сессии '{this.session.Name}'")"
                  SessionId="this.SessionId"
                  ParticipantId="this.ParticipantId"/>
    }
    else
    {
      <div class="row g-3">
        <div class="col-md-5 col-lg-4 order-md-last mt-4">
          <SessionStatusPrompt ParticipantId="this.ParticipantId" />

          <h4 class="d-flex align-items-center mb-3">
            <span class="text-muted me-2">Участники</span>
            <span class="badge bg-secondary rounded-pill">@this.session.ParticipantsCount</span>
          </h4>

          <ParticipantsVotesList PaticipantVotes="this.participantVotes"
                                 ParticipantId="this.ParticipantId" />
        </div>
        <div class="col-md-7 col-lg-8">
          @if (this.session.ProcessingState != SessionProcessingState.Finished)
          {
            if (this.User != null)
            {
              <PokerCardDeck SessionId="this.SessionId"
                             ParticipantId="this.ParticipantId"
                             ParticipantVote="this.participantVote"
                             CanVote="this.session.ProcessingState == SessionProcessingState.Started || this.session.ProcessingState == SessionProcessingState.Stopped" />
            }
          }
          else
          {
            <ParticipantsVotesResult PaticipantVotes="this.participantVotes" />
          }
        </div>
      </div>
    }
  </CascadingValue>
  <SessionOptionsModal Id="sessionOptionsModal" Title="Настройки сессия" Session="@this.session" OnConfirm="@this.ConfirmSessionOptionChangesAsync" />}
else
{
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-info" role="status">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>
}